<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionStringVolhardingOracle" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=jeroen10;USER ID=ORACLE"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DBI296112.fhictora" connectionString="DATA SOURCE=fhictora01.fhict.local:1521/fhictora;PASSWORD=WXyvnFFvL2;USER ID=DBI296122"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>